<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <div class="container">

    <title>Quiz App</title>
    <div class="row">

      <div class="col-md-6">
        <div class="content">

          <h1><b>Welcome to Quizzy!</b></h1>
          <h2>A platform to test your skills and challenge them.</h2>
          <br>
          <a href="/home">
            <h2><b>Play Now!</b></h2>
          </a>

        </div>
      </div>


      <div class="col-md-6">
        <img src="../static/d4763f5440f0c4f8ac475d7a242d2de6.gif" class="pic">
      </div>

    </div>
  </div>



  <script src="static/js/jquery-2.1.4.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/script.js"></script>
</body>

</html>
